/* screens smaller than 1600---------------------------------------------------------- */
@media only screen and (min-width:641px) and (max-width:1599px) {

/*mainimg*/
/*------------------------------------------------------------------------------*/
#mainimage {
	background: url(../image/main_img01.jpg) no-repeat 80% top;
}
#mainimage .inner01 {
	padding: 120px 0 0 0;
}

/*top_box05*/
/*------------------------------------------------------------------------------*/
#top_box05 .inner01 {
	width: 100%;
}
#top_box05 #contact {
	height: 300px;
}
#top_box05 dt {
	font-size: 30px;
}
#top_box05 #contact dd a {
	font-size: 20px;
}
#top_box05 li {
	height: 36vw;
}
#top_box05 #address {
	font-size: 20px;
}
#top_box05 #map .gmap {
	padding-bottom: 36vw;
}


/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/


/* screens smaller than 1120---------------------------------------------------------- */
@media only screen and (min-width:641px) and (max-width:1119px) {

/*mainimg*/
/*------------------------------------------------------------------------------*/
#mainimage {
	height: 500px;
}

/*top_box02*/
/*------------------------------------------------------------------------------*/
#top_box02 li:nth-child(1) .font01,
#top_box02 li:nth-child(4) .font01 {
	font-size: 40px;
}
#top_box02 li:nth-child(2) .font01,
#top_box02 li:nth-child(3) .font01 {
	font-size: 28px;
}
#top_box02 li:nth-child(1),
#top_box02 li:nth-child(4) {
	font-size: 28px;
}
#top_box02 li:nth-child(2),
#top_box02 li:nth-child(3) {
	font-size: 20px;
}



/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/


/* screens smaller than 820---------------------------------------------------------- */
@media only screen and (min-width:641px) and (max-width:819px) {

/*top_box05*/
/*------------------------------------------------------------------------------*/
#top_box05 #contact {
	height: 260px;
}


/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/
